<footer class="position-absolute bottom-0 start-50 translate-middle-x">
  <p>
    &copy; Copyright
    <a class="footerLink" target="_blank" href="https://github.com/GretSeat"
      >Garrett Stewart</a
    >
    2023
  </p>
</footer>
