<footer class="mt-auto d-flex justify-content-center fixed-bottom">
  <p>
    &copy; Copyright
    <a
      class="text-decoration-none"
      target="_blank"
      href="https://github.com/GretSeat"
      >Garrett Stewart</a
    >
    2023
  </p>
</footer>
