<header class="container">
  <div class="text-center">
    <h1 class="ps-1">
      <a class="text-decoration-none" href="/">StickyPad</a>
    </h1>
    <span>A Place to Put Your Notes</span>
  </div>
</header>
