<header class="container mt-2 pb-3">
  <div class="text-center">
    <h1 class="ps-1">
      <a class="text-decoration-none ps-1" href="/">StickyPad</a>
    </h1>
    <span class="">A Place to Put Your Notes</span>
  </div>
</header>
