<%- include('partials/header') -%>

<div class="container text-center">

  <a class="btn btn-primary" href="/login" role="button">Login</a>
  <a class="btn btn-light" href="/signup" role="button">Sign Up</a>
</div>

<%- include('partials/footer') -%>
