<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') -%>
  <body
    class="body background-image min-vh-100 d-flex flex-column justify-content-center"
  >
    <div
      class="container d-flex flex-column justify-content-center align-items-center"
    >
      <!-- CARD -->
      <div class="card bg-light border border-secondary py-3 bg-light w-50">
        <%- include('partials/header') -%>

        <div class="container d-flex flex-column gap-2 mt-2">
          <a class="btn btn-primary" href="/login" role="button">Login</a>
          <a
            class="btn btn-light btn-outline-primary"
            href="/signup"
            role="button"
            >Sign Up</a
          >
        </div>
      </div>
    </div>
    <%- include('partials/footer') -%> <%- include('partials/script') -%>
  </body>
</html>
