<%- include('partials/header') %>


  <% if(locals.messages.errors) { %> 
    <% messages.errors.forEach( el => { %>

  <div class="alert alert-danger" role="alert">
    <%= el.msg %>
  </div>

  <% }) %> 
  <% } %> 
  <% if (locals.messages.info) { %> 
    <% messages.info.forEach(el  => { %>

  <div class="alert alert-danger" role="alert">
    <%= el.msg %>
  </div>

  <% }) %> 
  <% } %>

  <form action="/login" method="POST">
    <input type="email" name="email" placeholder="Email" />
    <input type="password" name="password" placeholder="Password" />
    <input class="btn btn-success" type="submit" value="Submit">
  </form>

  <a class="btn btn-primary" href="/signup" role="button">Sign Up</a>
</main>

<%- include('partials/footer') %>
