.background-image {
  background-image: url(../imgs/notepadBackground.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  backdrop-filter: blur(1px);
}

.completed {
  text-decoration: line-through;
  color: gray;
}
.not {
  text-decoration: underline;
  font-size: 1.5rem;
  font-weight: bold;
}
