h1 {
  color: red;
}
.completed {
  text-decoration: line-through;
  color: gray;
}
.not {
  text-decoration: underline;
}
.stickyNotes {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
}
.stickyNote {
  height: 200px;
  width: 200px;
  background-color: lightblue;
}
